# servidor
fastapi==0.110.0
uvicorn==0.27.1
starlette>=0.27.0

# HTTP + scraping
requests==2.31.0
beautifulsoup4==4.12.2

# PDF
PyMuPDF==1.23.6

# Auth e DB
firebase-admin==6.4.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.27
psycopg2-binary==2.9.9
python-multipart==0.0.6

# Gemini
google-generativeai==0.4.0

# Utilitários
python-dotenv==1.0.1
